rdu-ppi/src/wsdl/localhost_8081/wsImpiDocContainer/wsImpiDocContainer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.contenedor.vidoc.impi.mx.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.contenedor.vidoc.impi.mx.com/" name="wsImpiDocContainer">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.contenedor.vidoc.impi.mx.com/" schemaLocation="https://rdu.impi.gob.mx:8081/wsImpiDocContainer/wsImpiDocContainer?xsd=1"/>
</xsd:schema>
</types>
<message name="getDocumentInformation">
<part name="parameters" element="tns:getDocumentInformation"/>
</message>
<message name="getDocumentInformationResponse">
<part name="parameters" element="tns:getDocumentInformationResponse"/>
</message>
<message name="checkInDocument">
<part name="parameters" element="tns:checkInDocument"/>
</message>
<message name="checkInDocumentResponse">
<part name="parameters" element="tns:checkInDocumentResponse"/>
</message>
<message name="deleteDocument">
<part name="parameters" element="tns:deleteDocument"/>
</message>
<message name="deleteDocumentResponse">
<part name="parameters" element="tns:deleteDocumentResponse"/>
</message>
<message name="getDocumentFile">
<part name="parameters" element="tns:getDocumentFile"/>
</message>
<message name="getDocumentFileResponse">
<part name="parameters" element="tns:getDocumentFileResponse"/>
</message>
<message name="searchDocument">
<part name="parameters" element="tns:searchDocument"/>
</message>
<message name="searchDocumentResponse">
<part name="parameters" element="tns:searchDocumentResponse"/>
</message>
<message name="searchHomeDocument">
<part name="parameters" element="tns:searchHomeDocument"/>
</message>
<message name="searchHomeDocumentResponse">
<part name="parameters" element="tns:searchHomeDocumentResponse"/>
</message>
<portType name="wsImpiDocContainer">
<operation name="getDocumentInformation">
<input wsam:Action="http://webservice.contenedor.vidoc.impi.mx.com/wsImpiDocContainer/getDocumentInformationRequest" message="tns:getDocumentInformation"/>
<output wsam:Action="http://webservice.contenedor.vidoc.impi.mx.com/wsImpiDocContainer/getDocumentInformationResponse" message="tns:getDocumentInformationResponse"/>
</operation>
<operation name="checkInDocument">
<input wsam:Action="http://webservice.contenedor.vidoc.impi.mx.com/wsImpiDocContainer/checkInDocumentRequest" message="tns:checkInDocument"/>
<output wsam:Action="http://webservice.contenedor.vidoc.impi.mx.com/wsImpiDocContainer/checkInDocumentResponse" message="tns:checkInDocumentResponse"/>
</operation>
<operation name="deleteDocument">
<input wsam:Action="http://webservice.contenedor.vidoc.impi.mx.com/wsImpiDocContainer/deleteDocumentRequest" message="tns:deleteDocument"/>
<output wsam:Action="http://webservice.contenedor.vidoc.impi.mx.com/wsImpiDocContainer/deleteDocumentResponse" message="tns:deleteDocumentResponse"/>
</operation>
<operation name="getDocumentFile">
<input wsam:Action="http://webservice.contenedor.vidoc.impi.mx.com/wsImpiDocContainer/getDocumentFileRequest" message="tns:getDocumentFile"/>
<output wsam:Action="http://webservice.contenedor.vidoc.impi.mx.com/wsImpiDocContainer/getDocumentFileResponse" message="tns:getDocumentFileResponse"/>
</operation>
<operation name="searchDocument">
<input wsam:Action="http://webservice.contenedor.vidoc.impi.mx.com/wsImpiDocContainer/searchDocumentRequest" message="tns:searchDocument"/>
<output wsam:Action="http://webservice.contenedor.vidoc.impi.mx.com/wsImpiDocContainer/searchDocumentResponse" message="tns:searchDocumentResponse"/>
</operation>
<operation name="searchHomeDocument">
<input wsam:Action="http://webservice.contenedor.vidoc.impi.mx.com/wsImpiDocContainer/searchHomeDocumentRequest" message="tns:searchHomeDocument"/>
<output wsam:Action="http://webservice.contenedor.vidoc.impi.mx.com/wsImpiDocContainer/searchHomeDocumentResponse" message="tns:searchHomeDocumentResponse"/>
</operation>
</portType>
<binding name="wsImpiDocContainerPortBinding" type="tns:wsImpiDocContainer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDocumentInformation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkInDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDocumentFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchHomeDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsImpiDocContainer">
<port name="wsImpiDocContainerPort" binding="tns:wsImpiDocContainerPortBinding">
<soap:address location="https://rdu.impi.gob.mx:8081/wsImpiDocContainer/wsImpiDocContainer"/>
</port>
</service>
</definitions>